*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
library/build/generated/assets/
library/build/generated/res/
library/build/generated/source/aidl/
library/build/generated/source/rs/
library/build/intermediates/bundles/debug/aidl/
library/build/intermediates/bundles/debug/assets/
library/build/intermediates/bundles/default/aidl/
library/build/intermediates/bundles/default/assets/
library/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
library/build/intermediates/incremental/packageDebugAndroidTest/
library/build/intermediates/incremental/processDebugAndroidTestResources/
library/build/intermediates/incremental/processDebugResources/
library/build/intermediates/lint/
library/build/intermediates/manifest/tmp/
library/build/intermediates/rs/
library/build/intermediates/shaders/
